@model List<MVC_Personel_Areas.Models.TblTestimonial>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Referans Listesi</h2>
<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>İsim</th>
        <th>Resim</th>
        <th>Başlık</th>
        <th>Tanımlama</th>
        <th>Sil</th>
        <th>Güncelle</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.TestimonialID</td>
            <td>@item.TestimonialName</td>
            <td><img src="@item.TestimonialImage" width="70" height="auto"/></td>
            <td>@item.TestimonialTitle</td>
            <td>@item.TestimonialDescription</td>
            <td><a href="/Testimonial/DeleteTestimonial/@item.TestimonialID" class="btn btn-danger">Sil</a></td>
            <td><a href="/Testimonial/UpdateTestimonial/@item.TestimonialID" class="btn btn-success">Güncelle</a></td>
        </tr>
    }
</table>

<a href="/Testimonial/AddTestimonial/" class="btn btn-primary">Yeni Deneyim Ekle</a>

